<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.iss.spring.dao.EmpDao">

    <sql id="empSQL">
        select empno,ename,job,password from emp
    </sql>

    <insert id="insert" parameterType="com.iss.spring.model.Emp">
        insert into emp values(#{empno},#{ename},#{job})
    </insert>

    <insert id="myInsert" parameterType="com.iss.spring.model.Emp">
        <selectKey keyProperty="empno" order="AFTER" resultType="java.lang.Integer">
            SELECT LAST_INSERT_ID()
        </selectKey>
        insert into emp(ename,job) values(#{ename},#{job})
    </insert>

    <insert id="myInsert2" parameterType="com.iss.spring.model.Emp" keyProperty="empno" useGeneratedKeys="true">
        insert into emp(ename,job) values(#{ename},#{job})
    </insert>

    <update id="update" parameterType="Emp">
        update emp set job = #{job} where empno = #{empno}
    </update>

    <delete id="delete" parameterType="java.lang.Integer">
        delete from emp where empno = #{empno}
    </delete>

    <select id="getEmps" resultType="Emp">
        <include refid="empSQL"></include>
    </select>

    <select id="login" resultType="Emp">
        <include refid="empSQL"></include> where ename = #{ename} and password = #{password}
    </select>

    <select id="getBySQL" parameterType="java.lang.String">
        ${sql}
    </select>

    <!-- 通过xml创建一个新的类型到数据库表的映射, 此类型 Emp 可用于其他片段 -->
    <resultMap id="empMap" type="Emp">
        <id property="id" column="empno"/>
        <result property="ename" column="ename"/>
        <result property="password" column="password"/>
        <result property="job" column="job"/>

        <association property="department">
            
        </association>

    </resultMap>

    <select id="getEmpByParams" resultMap="empMap">
        <include refid="empSQL"/>
        where
        <if test="ename != null">
            ename = #{ename}
        </if>
        <if test="job != null">
            job = #{job}
        </if>
    </select>

</mapper>