<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.stu.yun.dao.UserDao">

    <resultMap id="userMap" type="UserInfo">
        <id property="id" column="id"/>
        <result property="userName" column="userName"/>
        <result property="password" column="password"/>
        <result property="diskSize" column="diskSize"/>
        <result property="usedDiskSize" column="usedDiskSize"/>
    </resultMap>

    <select id="queryByUserName" resultType="com.stu.yun.model.UserInfo">
        select
            id, userName, password, diskSize, usedDiskSize
        from
            userInfo
        where userName = #{userName}
    </select>

    <update id="update" parameterType="com.stu.yun.model.UserInfo">
        update
            userInfo
        set
            usedDiskSize = #{usedDiskSize}
        where
            id = #{id}
    </update>

    <insert id="insert" parameterType="com.stu.yun.model.UserInfo" keyProperty="id" useGeneratedKeys="true">
        insert into
            userInfo(id, userName, password, diskSize, usedDiskSize)
        values
            (#{id}, #{userName}, #{password}, #{diskSize}, #{usedDiskSize})
    </insert>

</mapper>